@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;1,300&display=swap');

body {
    font-family: "Figtree", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin: auto;
    background-color: deepskyblue;

}

#title {
    border: 1px solid black;

}